name: Test Extra Headers
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Start Header App
        run: |
          npm run start:example:headers
      - name: Run Lighthouse
        uses: ./
        with:
          # extraHeaders: '{"x-hello-world": "foo"}'
          urls: "https://www.foo.software"
